
#login-title{
    margin-top: 80px;
}
#login-area{
    border: 20px;
    margin-top: 50px;
    padding: 50px;
    margin-right: 50px;
    margin-left: 70px;
    border-radius:10px;
    box-shadow: 10px 10px 15px gray;
}

#transactionArea{
    display: none;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color:tomato;
}
.balance{
    background-color:green;
}
.fixsize{
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding:30px;
    text-align: left;
    box-shadow: 5px 5px 10px gray;
}
.enterdeposit{
    background-color: rgba(9, 240, 28, 0.356);
    padding: 40px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 70px;
    width: 70%;
   
}
.enterwithdraw{
    background-color: rgba(247, 243, 6, 0.431);
    padding: 40px;
   border-radius: 10px;
   margin-left: 30px;
   margin-right: 70px;
   width: 70%;
  
 
}